@import "@/style/mixins.scss";

.AddUpdate {
  &__form {
    &__input {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 0;
      gap: 4px;
      label {
        font-size: 16px;
        padding-left: 3px;
      }
      input {
        width: 100%;
        background-color: theme("colors.darkD-200");
      }
    }
    &__date {
      select {
        background-color: theme("colors.darkD-100");
        border: none;
        font-size: 16px;
        &:hover {
          box-shadow: none;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
    &__category-quantity {
      select {
        background-color: theme("colors.darkD-200");
      }
    }
  }
}

.AddUpdate__form__select {
  background-color: theme("colors.darkD-100");
}

.productError {
  margin: 7px 3px;
  font-size: 14px;
  font-weight: 500;
  color: #dd7a7a;
}
