@mixin bg-gradient {
  background: linear-gradient(90deg, #009052, #719000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@mixin bg-gradient_invalid {
  background: linear-gradient(90deg, #900000, #905200);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
