@import "@/app/mixins.scss";

.Product__info {
  @include bg-gradient;
}

.Product__toolbar {
  button {
    min-width: 40px;
    max-height: 40px;
    padding: 5px;
  }
}

@media (min-width: 1024px) {
  .Product__body {
    background-color: theme("colors.darkV-200");
  }
}
