@import "@/style/mixins.scss";

tbody {
  background-color: theme("colors.darkD-100");
  tr {
    transition: all 0.45s ease-in-out;
    td:nth-child(3) {
      text-align: center;
      padding-right: 13px;
    }
  }

  tr:nth-child(odd) {
    background-color: theme("colors.darkD-200");
  }

  tr:hover {
    @include bg-gradient;
    font-size: 18.5px;
    border-radius: 10px;
  }
}

@media (max-width: 1280px) {
  tbody {
    tr {
      td:nth-child(3) {
        text-align: left;
        padding-right: 0px;
      }

      .td__category {
        @include bg-gradient;
      }

      .td__exported {
        @include bg-gradient;
      }

      .td__noexported {
        @include bg-gradient_invalid;
      }
    }

    tr:nth-child(odd) {
      background-color: theme("colors.darkD-100");
    }

    tr:nth-child(even) {
      background-color: theme("colors.darkD-100");
    }

    tr:hover {
      font-size: 18px;
      background: linear-gradient(
        90deg,
        theme("colors.darkD-200"),
        theme("colors.darkD-200")
      );
      border-radius: 10px;
      transform: scale(0.98);
    }
  }
}
