@import '@/app/_mixins.scss';

.nav {
  min-height: 64px;
  border-top: 1px solid theme('colors.darkV-100');
  li a {
    color: theme('colors.darkG-100');
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    font-size: 20px;
    transform: translateY(0%);
    transition: transform 0.5s cubic-bezier(0.175, 0.855, 0.32, 1.275);
    &:hover {
      color: white;
    }
    &.active {
      color: white;
      font-size: 25px;
      transform: translateY(-5%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .nav {
    border-top: 1px solid theme('colors.darkV-100');
    li a {
      color: theme('colors.darkG-100');
      &:hover {
        color: white;
      }
      &.active {
        color: white;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .nav {
    border-top: 1px solid theme('colors.lightW-400');
    li a {
      color: theme('colors.darkV-100');

      &:hover {
        color: theme('colors.darkV-400');
      }
      &.active {
        color: theme('colors.darkV-400');
      }
    }
  }
}
