@import "@/app/_mixins.scss";

.nav {
  display: flex;
  justify-content: space-around;
  height: 64px;
}

.nav li a {
  color: theme("colors.darkG-100");
  height: 100%;
  display: inline-grid;
  place-items: center;
  z-index: 1;
  position: relative;
  font-size: 20px;
  transform: translateY(0%);
  transition: transform 0.5s cubic-bezier(0.175, 0.855, 0.32, 1.275);
}

.nav li a:hover {
  color: white;
}

.nav li a.active {
  color: white;
  font-size: 25px;
  transform: translateY(-10%);
}
