@import '@/app/mixins.scss';

.Exported__toogle {
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
  &-item {
    float: left;
    input[type='radio'] {
      display: none;
    }
  }
  .item-1,
  .item-2 {
    label {
      display: inline-block;
      padding: 0px 15px;
      line-height: 34px;
      border-right: none;
      cursor: pointer;
      user-select: none;
    }
  }

  .item-1 {
    label {
      border-radius: 6px 0 0 6px;
    }
  }
  .item-2 {
    label {
      border-radius: 0 6px 6px 0;
    }
  }
}

.Category {
  font-size: 14px;
  &-item {
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.175, 0.855, 0.32, 1.275);
  }
  &-item input[type='radio'] {
    display: none;
    transition: all 0.5s cubic-bezier(0.175, 0.855, 0.32, 1.275);
  }
  &-item label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border-radius: 6px;
    user-select: none;
  }
}

.dark {
  .Exported__toogle {
    .item-1,
    .item-2 {
      label {
        background-color: theme('colors.darkV-200');
        border: 1px solid theme('colors.darkV-400');
      }
    }

    .item-1 {
      input[type='radio']:checked + label {
        background-color: #f2f2f3;
        color: theme('colors.darkV-400');
      }
    }
    .item-2 {
      label {
        border-right: 1px solid theme('colors.darkV-400');
      }
      input[type='radio']:checked + label {
        background-color: #f2f2f3;
        color: theme('colors.darkV-400');
      }
    }
  }

  .Category {
    &-item label {
      background-color: theme('colors.darkV-200');
      border: 1px solid theme('colors.darkV-400');
    }

    &-item input[type='radio']:checked + label {
      background-color: #f2f2f3;
      color: theme('colors.darkV-400');
    }
  }
}

.light {
  .Exported__toogle {
    .item-1,
    .item-2 {
      label {
        background-color: theme('colors.lightW-200');
        border: 1px solid theme('colors.lightW-400');
      }
    }

    .item-1 {
      input[type='radio']:checked + label {
        background-color: theme('colors.darkV-100');
        color: theme('colors.lightW-200');
      }
    }
    .item-2 {
      label {
        border-right: 1px solid theme('colors.lightW-400');
      }
      input[type='radio']:checked + label {
        background-color: theme('colors.darkV-100');
        color: theme('colors.lightW-200');
      }
    }
  }

  .Category {
    &-item label {
      background-color: theme('colors.lightW-200');
      border: 1px solid theme('colors.lightW-400');
    }

    &-item input[type='radio']:checked + label {
      background-color: theme('colors.darkV-100');
      color: theme('colors.lightW-200');
    }
  }
}
