@import '@/app/mixins.scss';

.Search__item {
  border: 1px solid theme('colors.lightW-400');
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  &:nth-child(odd) {
    background-color: theme('colors.lightW-100');
  }
  &:hover {
    background-color: theme('colors.lightW-100');
    color: theme('colors.darkV-400');
  }
}

@media (prefers-color-scheme) {
  :root.dark {
    .Search__item {
      border: 1px solid theme('colors.darkV-100');
    }

    .Search__item:nth-child(odd) {
      background-color: theme('colors.darkV-300');
    }

    .Search__item:hover {
      background-color: white;
      color: theme('colors.darkV-300');
    }
  }
}
