@import '@/app/mixins.scss';

.Search__item {
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

body[data-theme='dark'] {
  .Search__item {
    border: 1px solid theme('colors.darkV-100');
  }

  .Search__item:nth-child(odd) {
    background-color: theme('colors.darkV-300');
  }

  .Search__item:hover {
    background-color: white;
    color: theme('colors.darkV-300');
  }
}

body[data-theme='light'] {
  .Search__item {
    border: 1px solid theme('colors.lightW-400');
  }

  .Search__item:nth-child(odd) {
    background-color: theme('colors.lightW-100');
  }

  .Search__item:hover {
    background-color: theme('colors.lightW-100');
    color: theme('colors.darkV-400');
  }
}
