@import '@/app/_mixins.scss';

.Posts {
  overflow-y: visible;
}

tbody {
  overflow: hidden;
  tr {
    border: 1px solid theme('colors.darkV-100');
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.175, 0.855, 0.32, 1.275);
    td:nth-child(3) {
      text-align: center;
      padding-right: 13px;
    }
  }

  tr:nth-child(odd) {
    background-color: theme('colors.darkV-300');
  }

  tr:hover {
    background: theme('colors.darkV-200');
    font-size: 18.5px;
    border-radius: 10px;
  }
}

@media (max-width: 1280px) {
  tbody {
    tr {
      border: 1px solid theme('colors.darkV-100');
      border-radius: 10px;
      td:nth-child(3) {
        text-align: left;
        padding-right: 0px;
      }

      .td__category,
      .td__exported,
      .td__noexported {
        border: 1px solid theme('colors.darkV-300');
        font-weight: 500;
      }
    }

    tr:nth-child(odd) {
      background-color: theme('colors.darkV-300');
    }

    tr:nth-child(even) {
      background-color: theme('colors.darkV-300');
    }

    tr:hover {
      background-color: theme('colors.darkV-200');
      font-size: 18px;
      border-radius: 10px;
      transform: scale(0.99);
    }
  }
}
