@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_mixins.scss';

// COMMON STYLES

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

input,
button,
select {
  height: 48px;
  padding: 0px 15px;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease-in-out;
}

input[type='checkbox'] {
  height: 18px;
  width: 18px;
}

input[type='radio'] {
  height: 18px;
  width: 18px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h1,
h2,
h3 {
  font-weight: 500;
}

main {
  height: calc(100vh - 0px);
}

@media (max-width: 986px) {
  main {
    height: calc(100vh - 64px);
  }
}

// DARK THEME
.root[data-theme='dark'] {
  color: white;
  @include bg-app-dark;

  input,
  button,
  select {
    color: white;
    background-color: theme('colors.darkV-200');
    border: 1px solid theme('colors.darkV-100');
  }

  input,
  select {
    &::placeholder {
      color: theme('colors.darkG-100');
    }
    &:hover {
      background-color: theme('colors.darkV-400');
    }
    &:focus {
      background-color: theme('colors.darkV-400');
    }
  }

  button {
    color: theme('colors.darkG-100');
    background-color: theme('colors.darkV-300');
    &:hover {
      color: theme('colors.darkV-400');
      background-color: white;
    }
    &:disabled {
      color: theme('colors.darkG-100');
      background: theme('colors.darkV-400');
    }
  }

  .Toastify__close-button:hover {
    background-color: theme('colors.darkV-400');
  }

  .Toastify__toast {
    background: theme('colors.darkV-400');
  }
}

// LIGHT THEME
.root[data-theme='light'] {
  color: theme('colors.darkV-400');
  @include bg-app-light;

  input,
  button,
  select {
    background-color: theme('colors.darkV-400');
    background-color: theme('colors.lightW-200');
    border: 1px solid theme('colors.lightW-400');
  }

  input,
  select {
    &::placeholder {
      color: theme('colors.darkG-100');
    }
    &:hover {
      background-color: theme('colors.darkV-400');
    }
    &:focus {
      background-color: theme('colors.lightW-400');
    }
  }

  button {
    color: theme('colors.darkV-400');
    background-color: theme('colors.lightW-200');
    &:hover {
      color: theme('colors.darkV-400');
      background-color: theme('colors.lightW-100');
    }
    &:disabled {
      color: theme('colors.darkG-100');
      background: theme('colors.darkV-400');
    }
  }

  .Toastify__close-button:hover {
    background-color: theme('colors.darkV-400');
  }

  .Toastify__toast {
    background: theme('colors.darkV-400');
  }
}

//-Scrollbar----------------------------------------------------------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 0px;
}

// ::-webkit-scrollbar-thumb {
//   background: theme("colors.darkV-300");
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
//   background: #858cb100;
// }

//-Reset----------------------------------------------------------------------------------------------------------------------------
::selection {
  color: theme('colors.darkV-100');
  background-color: white;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
