@tailwind base;
@tailwind components;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./_mixins.scss";

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 18px;
  color: white;
  @include bg-app;
}

main {
  height: calc(100vh - 0px);
}

@media (max-width: 986px) {
  main {
    height: calc(100vh - 64px);
  }
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h1,
h2,
h3 {
  font-weight: 500;
}

input,
button,
select {
  height: 48px;
  padding: 0px 15px;
  color: white;
  background-color: theme("colors.darkV-200");
  border: 1px solid theme("colors.darkV-100");
  border-radius: 10px;
  outline: none;
  transition: all 0.45s ease-in-out;
}

input,
select {
  &::placeholder {
    color: theme("colors.darkG-100");
  }
  &:hover {
    background-color: theme("colors.darkV-400");
  }
  &:focus {
    background-color: theme("colors.darkV-400");
  }
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: theme("colors.darkG-100");
  background-color: theme("colors.darkV-300");

  &:hover {
    color: white;
    background-color: theme("colors.darkV-100");
  }
  &:disabled {
    color: theme("colors.darkV-100");
    background: theme("colors.darkG-100");
  }
}

.Toastify__close-button:hover {
  background-color: #121212;
}

//-Scrollbar----------------------------------------------------------------------------------------------------------------------------

::-webkit-scrollbar {
  width: 0px;
}

// ::-webkit-scrollbar-thumb {
//   background: theme("colors.darkV-300");
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
//   background: #858cb100;
// }

//-Reset----------------------------------------------------------------------------------------------------------------------------
::selection {
  color: theme("colors.darkV-100");
  background-color: white;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
