.Menu {
  position: relative;
  padding: 0.125rem 0px;
  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -30px;
    flex-direction: column;
    padding: 0.125rem 0.5rem;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid theme('colors.darkV-100');
    font-size: 12px;

    transition: all 0.2s ease-in-out;
  }
}

.Menu.active {
  .Menu__dropdown {
    display: flex;
  }
}
