@import '@/app/mixins.scss';

.AddUpdate {
  &__form {
    &__input {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 0;
      gap: 4px;
      label {
        font-size: 14px;
        padding-left: 3px;
      }
      input {
        width: 100%;
      }
    }
    &__date {
      select {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 16px;
        height: 28px;
      }
      time {
        display: flex;
        justify-content: flex-end;
        padding: 0px 3px;
        font-size: 14px;
      }
    }
  }
}

.productError {
  margin: 0px 3px;
  font-size: 14px;
  font-weight: 500;
}

body[data-theme='dark'] {
  .AddUpdate {
    &__form {
      &__category-quantity {
        select {
          background-color: theme('colors.darkV-100');
        }
      }
    }
  }

  .productError {
    color: theme('colors.darkG-100');
  }
}

body[data-theme='light'] {
  .AddUpdate {
    &__form {
      &__category-quantity {
        select {
          background-color: theme('colors.lightW-200');
        }
      }
    }
  }

  .productError {
    color: theme('colors.darkG-100');
  }
}
