.AddUpdate {
  .Add__form {
    height: calc(100vh - 210px);
  }
  .Add__form,
  .Update__form {
    &__input {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 0;
      gap: 4px;
      label {
        font-size: 16px;
        padding-left: 3px;
      }
      input {
        width: 100%;
      }
    }
    &__date {
      select {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 16px;
        height: 28px;
      }
      time {
        display: flex;
        justify-content: flex-end;
        padding: 0px 3px;
        font-size: 14px;
      }
    }
  }
}

.postError {
  margin: 0px 3px;
  font-size: 14px;
  font-weight: 500;
}

.root[data-theme='dark'] {
  .Add__form,
  .Update__form {
    &__category-quantity {
      select {
        background-color: theme('colors.darkV-200');
      }
    }
    &__date {
      select {
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }
    }
  }

  .productError {
    color: theme('colors.darkG-100');
  }
}

.root[data-theme='light'] {
  .Add__form,
  .Update__form {
    &__category-quantity {
      select {
        background-color: theme('colors.lightW-200');
      }
    }
    &__date {
      select {
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }
    }
  }

  .productError {
    color: theme('colors.darkG-100');
  }
}
